// Color variables
@rojo: #bf1000;
@gris: #aaabad;
@gris-claro: #cccccc;
@verde: #60881c;
@amarillo: #fdee1c;

// Fuentes
@font-face {
	font-family: CenturyGothic;
	src: url('../fonts/CenturyGothic.ttf');
}
@font-face {
	font-family: BebasNeue;
	src: url('../fonts/BebasNeue.otf');
}

body {
	font-family: CenturyGothic;
	letter-spacing: -1px;
}

a {
	cursor: pointer !important;
}

.title {
	background-color: @verde;
	color: white;
	font-family: BebasNeue;
	font-size: 50px;
	padding: 15px 35px 5px 35px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 3px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.btn-primary {
// Estilos de gradiente según diseño
//  font-family: BebasNeue;
//  font-size: 25px;
//  padding: 3px 35px;
//  padding-top: 12px;
//  letter-spacing: 2px;
//  text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
// 	background: #c5e8f7; /* Old browsers */
// 	background: -moz-linear-gradient(top, #c5e8f7 0%, #4ab8e6 50%, #27aae1 51%, #27aae1 100%); /* FF3.6-15 */
// 	background: -webkit-linear-gradient(top, #c5e8f7 0%,#4ab8e6 50%,#27aae1 51%,#27aae1 100%); /* Chrome10-25,Safari5.1-6 */
// 	background: linear-gradient(to bottom, #c5e8f7 0%,#4ab8e6 50%,#27aae1 51%,#27aae1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5e8f7', endColorstr='#27aae1',GradientType=0 ); /* IE6-9 */
//  border-radius: 20px;

// Estilos nuevos
background-color: @verde;
border: 2px solid @gris-claro;
border-radius: 7px;
padding: 13px 35px;
padding-top: 15px;
font-size: 20px;
&:hover {
	background-color: rgba(255,255,255,.3) !important;
	border: 2px solid white;
}
}
.top-header {
	background-color: @rojo;
	color: white;
	text-align: center;
	h4 {
		padding-top: 5px;
	}
	.green-bold {
		font-family: BebasNeue;
		color: #5fe900;
		font-size: 40px;
		position: relative;
		top: 5px;
	}
}

.header {
	background-color: black;
	text-align: center;
	color: white;
	h3 {
		padding: 20px 0;
		font-size: 40px;
		letter-spacing: 2px;
		font-family: BebasNeue;

	}
	p {
		font-size: 25px;
		padding: 20px 0;
	}
	.img-over {
		@media screen {
			@media (max-width: 767px) {
				position: relative;
				height: 100%;
				width: 100%;
			}
			@media (min-width: 768px) {
				position: relative;
				height: 105%;
				width: 105%;
			}
		}
		.logo {
			max-width: 300px;
		}
		.box {
			margin-left: 5vw;
		}
	}
}
.bottom-header {
	.left {
		padding-top: 40px;
		p {
			font-size: 28px;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
	.right{
		text-align: center;
		padding-top: 100px;
		h3 {
			font-size: 40px;
			font-weight: 800;
		}
		p {
			padding-top: 25px;
			font-size: 30px;
		}
	}
	background-color: @gris;
	color: white;
	padding-bottom: 50px;
	margin-bottom: 0px;
	p {
		font-size: 25px;
	}
	.yellow {
		color: @amarillo;
	}
}

.top-green {
	border-top: 15px solid @verde;
}
.sm-top-green {
	@media screen {
		@media (max-width: 767px) {
			border-top: 15px solid @verde;
			margin-left: 0;
			margin-right: 0;
			padding-right: 0;
			padding-left: 0;
			&.child {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

}

.requisitos {
	background-color: @gris-claro;
	ul {
		padding-top: 30px;
		list-style-image: url('../img/check30.png');
	}
	li {
		font-size: 28px;
		padding-bottom: 15px;
	}
}

.temario {
	background-color: black;
	padding-bottom: 50px;
	.numero {
		font-size: 40px;
		text-align: center;
	}
	.tema {
		border-bottom: 1px solid #aaa;
		padding-top: 20px;
	}
	.last {
		border-bottom: 0 solid #aaa;
	}
	label {
		color: @verde;
	}
	input[type='text'], input[type='email'], input[type='password'], {
		font-size: 18px;
		padding: 17px;
	}
}
.estudiantes {
	background-color: black;
	color: white;
	h3 {
		color: @verde;
	}
	p {
		font-size: 22px;
		letter-spacing: 0;
	}
}
.testimonios {
	background-color: @gris-claro;
	.autor {
		text-align: right;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 15px;
		line-height: 17px;
	}
	.cargo {
		text-align: right;
		text-transform: none;
		font-weight: 300;
		font-size: 14px;
	}
	p {
		font-size: 17px;
	}
}
.contacto {
	.btn-primary:hover {
		background-color: rgba(255,255,255,.3) !important;
		border: 2px solid @verde;
		color: @verde;
	}
	.card-header {
		background-color: black;
	}
	.btn-link {
		color: white;
	}
}